# Data Science Tools and Ecosystem

## Author
Pham Tri Hung

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives: <b>
    <ul>
        <li>Python
        <li>R
        <li>SQL
     <ul/>

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>NumPy</li>
<li>Pandas</li>
<li>Matplotlib</li>
</ol>

|Data Science Tools|
|---|
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335